:root {
  --color-background: #1e1e1e;
  --color-panel: #252526;
  --color-border: #333333;
  --color-accent: #4cc71e;
  
  --text-primary: #ffffff;
  --text-secondary: #888888;
  --text-tertiary: #cccccc;

  --color-hover: #37373d;
  --color-input-bg: #252526; /* Or darker if needed */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--text-primary);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
